*{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .container{
            background-color: black;
            height: 30vh;
            width: 60vw;
            border: 2px solid;
            display: flex;
            margin-top: 20vh;
            gap: 10px;
            justify-self: center;
            justify-content:space-evenly;
            align-items: end;
            

        }
        .child1{
            background-color: rgb(61, 248, 19);
            width: 15px;
            animation-name: child1;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-timing-function: ease-out; */
            /* animation-direction: alternate; */
        }
        @keyframes child1{
            0%{
                height: 0vh;
            }
            10%{
                height: 10vh;
            }
            30%{
                height: 5vh;
            }
            50%{
                height: 15vh;
            }
            65%{
                height: 5vh;
            }
            75%{
                height: 5.5vh;
            }
            80%{
                height: 4.5vh;
            }
            100%{
                height: 0vh;
            }
        }
        .child2{
            background-color: rgb(3, 169, 41);
            width: 15px;
            animation-name: child2;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-timing-function: ease-out; */
        }
        @keyframes child2{
            0%{
                height: 0vh;
            }
            10%{
                height: 10vh;
            }
            30%{
                height: 1vh;
            }
            50%{
                height: 5vh;
            }
            65%{
                height: 10vh;
            }
            75%{
                height: 11vh;
            }
            80%{
                height: 2vh;
            }
            100%{
                height: 1vh;
            }
        }
        .child3{
            background-color: rgb(220, 235, 3);
            width: 15px;
            animation-name: child3;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-timing-function: ease-out; */
        }
        @keyframes child3{
            0%{
                height: 0vh;
            }
            10%{
                height: 0vh;
            }
            30%{
                height: 5vh;
            }
            50%{
                height: 5.5vh;
            }
            65%{
                height: 6vh;
            }
            75%{
                height: 4vh;
            }
            80%{
                height: 10vh;
            }
            100%{
                height: 2vh;
            }
        }
        .child4{
            background-color: rgb(235, 185, 3);
            /* height: 20vh; */
            width: 15px;
            animation-name: child4;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-timing-function: ease-out; */
        }
        @keyframes child4{
            0%{
                height: 0vh;
            }
            10%{
                height: 0vh;
            }
            30%{
                height: 5vh;
            }
            50%{
                height: 3vh;
            }
            65%{
                height: 25vh;
            }
            75%{
                height: 10vh;
            }
            80%{
                height: 17vh;
            }
            100%{
                height: 2ovh;
            }
        }
        .child5{
            background-color: rgb(235, 84, 3);
            width: 15px;
            animation-name: child5;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-timing-function: ease-out; */
        }
        @keyframes child5{
            0%{
                height: 20vh;
            }
            10%{
                height: 1vh;
            }
            30%{
                height: 20vh;
            }
            50%{
                height: 3vh;
            }
            65%{
                height: 15vh;
            }
            75%{
                height: 20vh;
            }
            80%{
                height: 17vh;
            }
            100%{
                height: 25vh;
            }
        }
        .child6{
            background-color: rgb(235, 185, 3);
            /* height: 20vh; */
            width: 15px;
            animation-name: child1;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-timing-function: ease-out; */
        }
        .child7{
            background-color: rgb(251, 255, 132);
            /* height: 20vh; */
            width: 15px;
            animation-name: child4;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-timing-function: ease-out; */
        }
        .child8{
            background-color: rgb(235, 119, 3);
            /* height: 20vh; */
            width: 15px;
            animation-name: child3;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-timing-function: ease-out; */
        }
        .child9{
            background-color: rgb(3, 235, 131);
            /* height: 20vh; */
            width: 15px;
            animation-name: child1;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-timing-function: ease-out; */
        }
        .child10{
            background-color: rgb(235, 3, 181);
            /* height: 20vh; */
            width: 15px;
            animation-name: child2;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-timing-function: ease-out; */
        }